@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.glass-effect {
  background: rgba(161, 126, 62, 0.1);
  backdrop-filter: blur(10px);
}

[v-cloak] {
  display: none;
}